<div class="modal fade bs-about-modal" tabindex="-1" role="dialog" aria-labelledby="aboutModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {# X -Close Button #}<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">About</h2>
            </div>
            <div class="modal-body">
                <p>
                    Created by <a href="http://keelyhill.com" target="_blank">Keely Hill</a> when he saw that this domain was not taken. Similar collections <em>can</em> be found on social networks.
                </p>

                <h3>Why?</h3>
                <p>Why not?</p>
                    
                <h3>Support</h3>
                <p>
                Help keep the server running with Bitcoin: <a href="#" id='bitcoin' rel='popover' data-placement='top'>1Bxba2HneeQQMqpaF7tke3aWnEVxQgLBuA</a>
                </p>
                <p>
                    Comments/suggestions to <a href="http://keelyhill.com/contact" target="_blank">Keely Hill</a>
                </p>
                <br>
                <p>
                If more pictures don't load, click the&nbsp;&nbsp;<i class='glyphicon glyphicon-camera'></i>&nbsp;&nbsp;to load them manually.
                </p>
            </div>
            <div class="modal-footer">
                Website and select pictures, Copyright &copy 2015 Keely Hill
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
            </div>
        </div>
    </div>
</div>
