{% load staticfiles %}
<!DOCTYPE html>
<!-- Quite the hacker you are, looking at the source. -->
<html prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
<head>
    <title>PicturesOfPeopleTaking.Pictures</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta charset="UTF-8">
    <meta name="description" content="Pictures of people taking pictures.">
    <meta name="keywords" content="pictures of people taking pictures, Keely Hill">
    <meta name="author" content="Keely Hill">

    {# Open Graph Meta #}
    <meta property="og:title" content="PicturesOfPeopleTaking.Pictures" />
    <meta property="og:description" content="Pictures of people taking pictures." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://picturesofpeopletaking.pictures" />
    <meta property="og:image" content="https://picturesofpeopletaking.pictures/static/favicons/apple-touch-icon-180x180.png" />

    <link rel="apple-touch-icon" sizes="57x57" href="{% static "favicons/apple-touch-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "favicons/apple-touch-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "favicons/apple-touch-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "favicons/apple-touch-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "favicons/apple-touch-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "favicons/apple-touch-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "favicons/apple-touch-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "favicons/apple-touch-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicons/apple-touch-icon-180x180.png" %}">
    <link rel="icon" type="image/png" href="{% static "favicons/favicon-32x32.png" %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static "favicons/android-chrome-192x192.png" %}" sizes="192x192">
    <link rel="icon" type="image/png" href="{% static "favicons/favicon-96x96.png" %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static "favicons/favicon-16x16.png" %}" sizes="16x16">
    <link rel="icon" href="{% static "favicons/favicon.ico" %}">
    <link rel="manifest" href="{% static "favicons/manifest.json" %}">
    <meta name="msapplication-TileColor" content="#00d7ff">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#0088c2">

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/darkly/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href={% static 'css/main.css' %}>

    <script src="//code.jquery.com/jquery-1.11.3.min.js" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" defer></script>
    <script src="{% static "js/main.min.js" %}" defer></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    {# Google Analytics #}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-72440100-2', 'auto');
      ga('send', 'pageview');
    </script>
</head>

<body>
    {# Navbar Start #}
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            {# Brand and toggle get grouped for better mobile display #}
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href='/'>Pictures of People Taking Pictures</a>
            </div>
            {# Collect the nav links, forms, and other content for toggling #}
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" data-toggle="modal" data-target=".bs-about-modal" style="padding-right:2.5em;">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/submit" style="padding-right:2.5em;">Submit</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {# Navbar End #}

    {% include 'pictures/about_modal.html' %}
    <div class="container-fluid" id="main-container">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>
