{% extends 'pictures/base.html' %}


{# Smooth flowing #}

{# {% block content %} #}
    <section id="photo-grid">
        {% include 'pictures/picture_grid.html' %}
    </section>
{# {% endblock content %} #}


{# Square #}

{% block content %}
    <div class='row' id='sq-grid'>
        {% include 'pictures/picture_grid.html' %}
    </div>
    <div id='end-of-load' class='glyphicon glyphicon-camera'></div>
{% endblock content %}


