
{# Smooth flowing #}

{% comment %}

{% for pic_url in picture_urls %}
    <img src={{ pic_url.0 }} alt="" data-imgsrc={{ pic_url.0 }}>
{% endfor %}

{% endcomment %}


{# Square #}

{% for pic_url in picture_urls %}
<div class='img-col col-xs-12 col-sm-6 col-md-4 col-lg-3'>
    <div class='img-is' alt='' data-imgsrc={{ pic_url.0 }} style="background-image:url({{ pic_url.0 }})"></div>
</div>
{% endfor %}

