{% extends 'pictures/base.html' %}
{% load bootstrap_tags %}
{% block content %}

<div class='col-xs-12 col-sm-6 col-md-4 center-block float-none well'>

    <span class="form-group has-error">
        <label id='errors' class="control-label" for="inputError"></label>
    </span>
    <form action="{% url 'Submit View' %}" method="post" enctype="multipart/form-data" id='image_add_form' class="form-horizontal">
        <fieldset>
            <legend>Submit a picture</legend>
            {% csrf_token %}
            {{ form|as_bootstrap }}
        </fieldset><br>
        <div class="g-recaptcha" data-sitekey="6LdiUwkTAAAAAA9EAfPs8rUvlK14yNVn1j4iGdhh"></div>
        <br>
        <button id="submit-button" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock content %}
