html {
    background: #222222
}

.float-none {
    float: none;
}

#lgImgPopup {
    display: none;

    z-index: 1001;
    position: fixed;

    img {
        max-height: 90%;
        max-width: 95%;

        min-width: 30%;
        min-height: 30%;

        position: fixed;
        margin: auto;
        top: 10px;
        left: 0;
        right: 0;
        bottom: 0;

        $shadow-color: 0px 0px 400px 600px rgba(0,0,0,0.75);

        -webkit-box-shadow: $shadow-color;
        -moz-box-shadow: $shadow-color;
        box-shadow: $shadow-color;
        border-radius: 1px; // fixes mobile safari not showing
   }

    .close {
        position: fixed;
        right: 0.2em;
        top: -0.2em;
        font-size: 3.5em;
        color: white;
        opacity: .9;
        font-weight: normal;
    }
}

button, a {
    &:focus {
        outline: 0;
    }
}

@import 'spin';
#end-of-load {
    color:  #aaa;
    display:block;
    text-align: center;
    font-size: 2em;
    line-height: 150%;
    cursor: pointer;
}

/** Square Photo Grid **/

.img-col {
    padding: 0.6em;

    .img-is {
        background: #333;
       
        position:relative;
        overflow:hidden;
        padding-bottom: 100%;

        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center center;

        cursor: pointer; // needed for iOS js click()
    }
}

.bs-about-modal-lg {
    .modal-body {
        p {
            font-size: 1.1em;
            padding-left: 5pt;
        }
    }
}






/** Smooth Photo Grid (Currently unused) **/

/*

@mixin column-count($count) {
    -webkit-column-count: $count;
    -moz-column-count: $count;
    column-count: $count;
}

#photo-grid {

    @include column-count(5);

    // prevent  gaps
    line-height: 0;

    -webkit-column-gap: 0;
    -moz-column-gap:    0;
    column-gap:         0;

    img {
        // Just in case there are inline attributes
        width: 100% !important;
        height: auto !important;

        padding: 0.3em;
    }
}

@media (max-width: 1200px) {
    #photo-grid {
        @include column-count(4);
    }
}
@media (max-width: 1000px) {
    #photo-grid {
        @include column-count(3);
    }
}
@media (max-width: 800px) {
    #photo-grid {
        @include column-count(2);
    }
}
@media (max-width: 400px) {
    #photo-grid {
        @include column-count(1);
    }
}

*/

/** END Smooth Photo Grid **/